sudo: required
dist: xenial

language: c

env:
  - NIM_VERSION="0.19.0"

install:
  - cd _test
  - wget https://nim-lang.org/download/nim-$NIM_VERSION.tar.xz
  - tar xf nim-$NIM_VERSION.tar.xz
  - cd nim-$NIM_VERSION
  - ./build.sh
  - cd ../..

before_script: export PATH=$PATH:$PWD/_test/nim-$NIM_VERSION/bin

script:
  - bin/fetch-configlet
  - bin/configlet lint .
  - nim c _test/check_exercises.nim > /dev/null
  - _test/check_exercises
