name: configlet
on: [push, pull_request]

jobs:
  configlet-lint:
    name: lint
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install configlet
      uses: exercism/github-actions/configlet-ci@main

    - name: configlet lint
      run: configlet lint


  configlet-fmt:
    name: fmt
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install configlet
      uses: exercism/github-actions/configlet-ci@main

    - name: configlet fmt
      run: configlet fmt . && git diff --exit-code


  configlet-generate:
    name: generate
    runs-on: ubuntu-latest

    steps:
    - name: Checkout exercism/nim
      uses: actions/checkout@v2

    - name: Checkout exercism/problem-specifications
      uses: actions/checkout@v2
      with:
        repository: exercism/problem-specifications
        path: problem-specifications

    - name: Install configlet
      uses: exercism/github-actions/configlet-ci@main

    - name: configlet generate
      run: configlet generate . --spec-path ./problem-specifications && git diff --exit-code
