name: exercises
on: [push, pull_request]

jobs:
  exercises:
    strategy:
      fail-fast: false
      matrix:
        include:
          - nim: '2.0.0'
            os: linux

          - nim: '2.0.0'
            os: macOS

          - nim: '2.0.0'
            os: windows

          - nim: devel
            os: linux

          - nim: '1.6.0'
            os: linux

    name: nim-${{ matrix.nim }}-${{ matrix.os }}
    runs-on: ${{ matrix.os == 'linux' && 'ubuntu-22.04' || (matrix.os == 'macOS' && 'macos-13' || 'windows-2022') }}

    steps:
      - name: Checkout exercism/nim
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Install Nim (devel)
        if: matrix.nim == 'devel'
        uses: alaviss/setup-nim@f81f2a6d1505ab32f440ec9d8adbb81e949d3bf0 # 0.1.1
        with:
          path: 'nim'
          version: ${{ matrix.nim }}

      - name: Install Nim (non-devel)
        if: matrix.nim != 'devel'
        uses: iffy/install-nim@25e9ede26d630a40bb8ecb9ce75479e281e717bf
        with:
          version: "binary:${{ matrix.nim }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Show versions of Nim and Nimble
        run: |
          nim --version
          printf '\n\n\n\n'
          nimble --version

      - name: Compile `check_exercises.nim`
        run: nim c --styleCheck:error _test/check_exercises.nim

      - name: Run `check_exercises`
        run: _test/check_exercises

      - name: Compile `check_stubs.nim`
        run: nim c --styleCheck:error _test/check_stubs.nim

      - name: Run `check_stubs`
        run: _test/check_stubs
