name: Lint whitespace

on: [push, pull_request, workflow_dispatch]

jobs:
  lint_whitespace:
    name: Lint whitespace
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Check that every file has no trailing whitespace, and exactly one final newline
        run: ./.github/bin/lint-whitespace
