name: markdownlint

on: [push, pull_request, workflow_dispatch]

jobs:
  markdownlint:
    name: Lint markdown files
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3

      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@5b7c9f74fec47e6b15667b2cc23c63dff11e449e
