name: markdownlint

on: [push, pull_request, workflow_dispatch]

jobs:
  markdownlint:
    name: Lint markdown files
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@db43aef879112c3119a410d69f66701e0d530809
