name: shellcheck

on: [push, pull_request, workflow_dispatch]

jobs:
  shellcheck:
    name: Run shellcheck on scripts
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Run shellcheck
        uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38
